@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    box-sizing: border-box;
}

:root {
    --base-color: #333333;
}

#header {
    background: white;
}

body {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    color: var(--base-color);
    background: #E5E5E5;
}

a {
    color: var(--base-color);
    text-decoration: none;
}

.bottom a {
    color:#000000;
}

a:hover {
    text-decoration: underline;
}

.container {
    max-width: 1150px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}

.navigation {
    width: 100%;
    background: #E5E5E5;
    padding: 0.5em;
}

nav {
    text-align: center;
    margin: 0;
    padding: 1px;
}

.nav-menu {
    padding: 20px;
}

.menu {
    width: 100%;
    list-style: none;
    font-size: 14px;
    line-height: 16px;
    display: block;
    margin: 9px;
}

.menu>li {
    display: inline-block;
    margin: 0 0 0 30px;
}

.call-section {
    display: inline-block;
    float: right;
}

.logo-section {
    border-bottom: 1px solid #f6f6f6;
}

.logo {
    display: inline-block;
    padding: 20px;
}

.logo img {
    margin: 3px;
}

.logo-section .tell {
   padding: 0 20px;
}

.btn {
    margin: 32px 5px 20px 20px;
    width: 140px;
    height: 40px;
    border-radius: 40px;
    background: white;
    border: 3px solid #F13C6E; 
    cursor: pointer; 
}

.btn:hover {
    opacity: 50%;
}

.bottom {
    margin: 0;
    padding-bottom: 20px;
}
.bottom li {
    display: inline;
    margin: 10px;
    padding: 10px;
    list-style: none;
}

.banner-section {
    background-color: url(Group.png), #000000;
}

.banner-section {
    background-image: url("../images/image-01.svg");
    background-size: contain;
    background-position: center;
    background-color: #F13C6E;
    background-repeat: no-repeat;
    width: 100%;
}

.banner-wrapper {
    padding: 100px 0;
    width: 300px;
}

.banner-section h2 {
    margin: 0 0 45px 0;
    font-size: 35px;
    color: #FFFFFF;
}

.banner-section {
    font-size: 14px;
    line-height: 20px;
    color:#FFFFFF;
}

.btn-more {
    display: block;
    padding: 7px 24px 15px 50px;
    margin: 20px 0;
    color: white;
    border: 3px solid white;
    background: transparent;
}

.itemList {
    display: flex;
    flex-wrap: wrap;
}

.itemList ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

.item {
    display: inline-block;
    text-align: center;
    background: white;
    width: 255px;
    padding: 25px;
    margin-right: 25px;
}

.item:last-child {
    margin-right: 0;
}

.item span {
    font-weight: 900;
    font-size: 21px;
    line-height: 24px;
}

.link {
    margin: 29px 5px 13px 32px;
    padding: 7px;
    display: block;
    text-align: center;
    width: 140px;
    height: 40px;
    border-radius: 40px;
    background: #F13C6E;
    color: white;
    border: 3px solid #F13C6E;
}

.link1 {
    margin: 51px 15px 17px 0;
    padding: 7px;
    display: block;
    text-align: center;
    width: 140px;
    height: 40px;
    border-radius: 40px;
    color: white;
    background: transparent;
    border: 3px solid white; 
}

.second_section,
.info-section,
.third_section,
.list-section {
    margin: 100px 0;
}

.second_section h2 {
    margin-bottom: 38px;
}

.third_section h2 {
    margin-bottom: 38px;
}

.card {
    display: inline-block;
    background: #F13C6E;
    padding: 22px;
    color: white;
    width: 540px;
}

.cards .email {
    border-radius: 30px;
    padding: 10px 20px;
    margin: 35px 0;
}

.card .btn {
    margin: 32px 0 20px;
    background: transparent;
    border: 2px solid white;
    color: white;
}

.promocode {
    background-image: url("../images/image-03.svg");
    background-size: 168px;
    background-repeat: no-repeat;
    background-position: center right 45px;
}

.delivery {
    padding: 25px 0 39px 0;
    margin: 0 0 0 25px;
    background-image: url("../images/image-04.svg");
    background-size: 168px;
    background-repeat: no-repeat;
    background-position: center right 45px;
}

.inner {
    padding: 0 0 0 30px;
}

.table {
    margin: 0;
    border-collapse: collapse;
}

.impuls {
    width: 1110px;
}

.table tr {
    width: 275px;
    height: 110px;
}

.table td {
    background-color: white;
    margin: 0;
    padding: 0 62px;
    border: 1px solid #EFEFEF
}

.categories {
    padding: 10px 0 0 0;
    display: inline-block;
}

.list-section {
    padding: 50px;
    background: white;
}

.list-section {
    background: white;
    margin-bottom: 0;
}

.list-section .item {
    padding: 0;
}

.list-section h3 {
    padding: 0 0 20px;
    font-size: 16px;
    text-align: left;
    border-bottom: 1px solid #f6f6f6;
}

.list-section ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: left;
    width: 255px;
}

.list-section li {
    margin: 0 0 10px;
    font-size: 12px;
    color: #828282;
}

.icon-youtube1,
.icon-instagram {
    width: 100px;
    height: 100px;
    font-size: 40px;
    padding: 10px;
    border-radius: 50%;
    border: 3px solid #F13C6E;
}

.icon-facebook {
    display: inline-block;
    padding: 17px;
    padding-left: 17px;
    width: 63px;
    height: 63px;
    border-radius: 50%;
    border: 3px solid #F13C6E;
}

.icon-facebook img {
    padding: 4px;
}

.last-section {
    padding: 50px 0;
    background-color: white;
    border-top: 1px solid #f6f6f6;
}

.last-section a {
    padding: 0;
    margin: 0 20px 0 0;
}

.last-section .call-section {
    margin: -30px;
}

.bottom {
    display: inline;
}

.bottom_list {
    margin: 5px 0;
}

.bottom-right {
    float: right;
}

.bottom-left {
    display: inline-block;
}

@media (max-width: 1200px) {
    .item {
        width: 50%;
        text-align: center;
    }
}



