#header {
  background: #FFFFFF;
  position: relative;
}

.header-top {
  margin: 50px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.header-right {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: flex-end;
  align-items: flex-end;
}
.header-right .contacts {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.header-right .lang-uk {
  padding-right: 5px;
}
.header-right .lang-ru,
.header-right .lang-en {
  margin-right: 6px;
}
.header-right .lang-uk,
.header-right .lang-ru,
.header-right .lang-en {
  font-size: 12px;
  font-weight: bold;
  text-decoration: none;
  color: #B3B3BA;
}
.header-right .tell,
.header-right .adress {
  color: #B3B3BA;
  text-decoration: none;
}

.img-point {
  padding: 6px 5px;
}

.menu a {
  color: #24A3FF;
  font-weight: bold;
  list-style: none;
  text-decoration: none;
}
.menu li {
  display: inline-block;
  padding: 0 5px 0;
}
.menu .color-button a {
  text-decoration: underline;
  color: #F0145A;
}

@media screen and (min-width: 480px) and (max-width: 768px) {
  .header-top {
    padding-top: 50px;
    flex-wrap: wrap;
    padding-inline: 60px;
  }
  .header-menu {
    padding: 0;
  }
  .menu {
    padding-top: 25px;
  }
  .header-left {
    padding-right: 45px;
  }
  .header-right {
    position: unset;
    flex-direction: unset;
  }
  .header-right .contacts {
    position: absolute;
    top: 0;
    padding-right: 45px;
  }
}
@media screen and (min-width: 320px) and (max-width: 479px) {
  .contacts .lang-en {
    visibility: visible;
  }
  .contacts .adress {
    display: none;
  }
  .contacts img {
    display: none;
  }
  .header-left img {
    width: 212px;
    height: 57px;
  }
  .menu {
    display: none;
  }
}
body {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
}

a:hover {
  text-decoration: underline;
}

img {
  vertical-align: top;
}

.container {
  margin: 0 auto;
  max-width: 1360px;
  width: 100%;
}

.footer-top {
  background: #F5F5FA;
}

.footer-top-buttons {
  padding: 30px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.footer-label {
  background: #E6E6F0;
  padding: 2px;
  border-radius: 15px;
}
.footer-label button {
  font-weight: bold;
  border: none;
  padding: 10px;
  background: transparent;
  border-radius: 15px;
}
.footer-label .active {
  background: white;
}

.menu-list {
  font-size: 14px;
  line-height: 22px;
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style: none;
}
.menu-list li {
  width: 30%;
  background: #FFFFFF;
}
.menu-list img {
  width: 30%;
  min-width: 100%;
}

.border {
  border-top: 4px solid #E6E6F0;
}

.menu-text {
  padding: 30px;
  font-size: 14px;
}
.menu-text h3 {
  font-size: 16px;
  line-height: 19px;
  color: #24A3FF;
}
.menu-text span {
  padding-bottom: 15px;
  font-size: 12px;
  line-height: 14px;
  color: #B3B3BA;
}

.footer-bot {
  padding-top: 60px;
  background: #F5F5FA;
}

.contacts-bot {
  padding-top: 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.contacts-bot span {
  color: #24A3FF;
}

.tell-bot {
  color: #46466E;
}

.footer-but-link {
  padding-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.link a {
  text-decoration: none;
  color: #FFFFFF;
  padding: 15px;
  text-align: center;
  min-width: 150px;
  font-weight: bold;
  border-radius: 12px;
  border: 2px solid #24A3FF;
  background-color: #24A3FF;
}

.footer-bot-info {
  border-top: 2px solid #E6E6F0;
  padding: 30px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.footer-bot-info a {
  font-weight: bold;
  text-decoration: none;
  color: #24A3FF;
}
.footer-bot-info span {
  font-size: 16px;
  line-height: 19px;
  color: #B3B3BA;
}

.footer-bot-img {
  padding: 2px 5px;
}

.contacts-logo {
  padding-right: 10px;
}

.contacts-bot a {
  color: #46466E;
}
.contacts-bot span {
  font-weight: bold;
}

@media screen and (min-width: 480px) and (max-width: 768px) {
  .menu-list li {
    min-width: 45%;
    margin-left: 15px;
  }
  .footer-bot-info {
    padding-right: 20px;
    flex-direction: column;
    align-items: center;
  }
  .footer-bot-info span {
    padding: 30px 0;
  }
}
@media screen and (min-width: 320px) and (max-width: 479px) {
  .header-top {
    flex-wrap: wrap;
    align-items: center;
    align-content: flex-start;
    flex-direction: column-reverse;
  }
  .contacts {
    align-items: center;
  }
  .header-right {
    background: #F5F5FA;
  }
  .header-right a {
    font-weight: bold;
  }
  .menu-list li {
    width: 100%;
  }
  .footer-bot-info {
    flex-direction: column;
    align-items: center;
  }
  .img-point {
    display: none;
  }
  .contacts-top {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .contacts-top {
    flex-direction: column;
    align-items: center;
  }
  .contacts-bot {
    flex-direction: column;
    align-items: center;
  }
  .footer-bot-info span {
    padding-bottom: 10px;
  }
  .contacts-logo {
    padding-bottom: 10px;
  }
  .tell-bot {
    padding-bottom: 10px;
  }
}/*# sourceMappingURL=style.css.map */