body {
    font-family: 'Montserrat',Arial, Helvetica, sans-serif;
}

a:hover {
    text-decoration: underline;
}

img {
    vertical-align: top;
}

.container {
    margin: 0 auto;
    max-width: 1360px;
    width: 100%;
}